@media screen and (max-width:780px){

    header .container{
        border: solid green 2px;
        display: flex;
        flex-direction: column;
        min-width: 300px;
        margin-left: 0px;
    }

    .nav{
        display: flex;
        flex-direction:row;
    }

    .botao{
        margin-top: 5px;
        width:  300px;
    }

}

@media screen and (min-width: 1000px){

    .descricao{
        width: 50%;
    }

}